p{
    color: #46494c
}

#card-bg{
    background-color: #dcdcdd;
}

#resume-link
{
    color: #1985a1;
}

#resume-job-link{
    color: #46494c;
}

dd{
    color: #46494c;
}

.skill {
    color: #46494c;
}

.body-background{
    background-color: #dcdcdd;
}

.nav-link{
    color: #1985a1;
}

#headingOne{
    color: #1985a1;
}

#sample-head{
    padding-bottom: 0.1%;
    padding-top: 2%;
}

#long-writing{
    padding-left: 12%;
    padding-right: 12%;
}

#typewriter{
    color: #46494c;
    text-align: center;
}

h1{
    color: #46494c;
}

#email {
    color: #4c5c68;
}

#phone {
    color: #4c5c68;
}